a {
	text-decoration: none;
}

#games > ul {
	list-style-type: none;
}

:link {
	color: #00067C;
}

:visited {
	color: hsl(272, 100%, 20%);
}

body {
	background-image: url('background.png');
}

#background {
	width: 100%;
	height: 100%;
	background-image: url('logo.svg');
	background-repeat: no-repeat;
	background-position: center;
}

#content {
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	color: hsl(248, 100%, 5%);
	height: 100%;
	max-width: 600px;
	margin: 0% auto;
}
